@model string

<button type="submit" class=" rounded px-4 py-2 bg-green-700 active:ring-2 active:ring-green-600 hover:bg-green-800 text-gray-300 transition duration-100 active:bg-green-900">
    @Model
</button>