<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - technical_service_tracking_system</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <header>
    </header>
    <main class="w-full h-screen">
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>

</html>