<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - technical_service_tracking_system</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <header class="w-full h-16">
        <div class="text-gray-300 w-full h-full bg-slate-900 flex flex-row justify-between items-center px-10">
            <a class="text-3xl font-bold" asp-controller="Home" asp-action="Index">TechService</a>
            <div class="flex flex-row space-x-7">
                <a href="/Account/Register" class="text-xl">Register</a>
                <a href="/Account/Login" class="text-xl">Login</a>
            </div>
        </div>
    </header>
    <main class="w-full h-screen bg-slate-300">
        @RenderBody()
    </main>
    <footer>
    </footer>

    @RenderSection("Scripts", required: false)
</body>

</html>